html {
	font-size: 1.9vw;
}

/* open-sans-300 - latin-ext_latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/open-sans-v17-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('fonts/open-sans-v17-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('fonts/open-sans-v17-latin-ext_latin-300.woff2') format('woff2'),
		/* Super Modern Browsers */ url('fonts/open-sans-v17-latin-ext_latin-300.woff') format('woff'),
		/* Modern Browsers */ url('fonts/open-sans-v17-latin-ext_latin-300.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('fonts/open-sans-v17-latin-ext_latin-300.svg#OpenSans')
			format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin-ext_latin */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/open-sans-v17-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('fonts/open-sans-v17-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('fonts/open-sans-v17-latin-ext_latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */ url('fonts/open-sans-v17-latin-ext_latin-700.woff') format('woff'),
		/* Modern Browsers */ url('fonts/open-sans-v17-latin-ext_latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('fonts/open-sans-v17-latin-ext_latin-700.svg#OpenSans')
			format('svg'); /* Legacy iOS */
}

body {
	font-family: 'Open Sans', sans-serif;
}

h3,
h4,
p,
a {
	font-family: 'Open Sans', sans-serif;
}
